%h1= @link.title
	
%p
	Link:
	= @link.link
%p
	favicon:
	= @link.favicon
%p
	Description:
	= @link.description
%p
	Image URL:
	= @link.image

= link_to 'Edit',  edit_link_path(@link)
= link_to 'Delete', link_path(@link), method: :delete, data: { confirm: 'Are you sure?' }
= link_to 'Home',  root_path